---
import { getAllLabs } from "../../db/labs/getAllLabs";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { checkSession } from "../../utils/checkSession";

const labs = await getAllLabs();
const url = Astro.request.url;
const { id } = Astro.params;
const lab = labs.find((lab) => lab.id == id);

const isLoggedin = await checkSession(Astro);

if (!lab) {
  return new Response(null, {
    status: 404,
  });
}

const { name, description, level } = lab;
---

<BaseLayout title={`SKF | LAB - ${name}`} isLoggedin={isLoggedin}>
  <div class="wrapper jumbotron">
    <div class="pb-8">
      <h1>{name}</h1>
      <p class="italic"><b>Level:</b> {level}</p>
      <p>{description}</p>
    </div>
    <a href={`/labs/${id}/lab/`}>Start Lab</a>
  </div>
</BaseLayout>

<style>
  h1,
  p,
  a {
    margin-bottom: 1rem;
  }

  a {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
  }
</style>
