---
import { getAllLabs } from "../../db/labs/getAllLabs";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const labs = await getAllLabs();
  return labs.map((lab) => ({
    params: {
      id: lab.id,
    },
    props: {
      ...lab,
    },
  }));
}

// const { id } = Astro.params;
const { name, description, level } = Astro.props;
// get url
const url = Astro.request.url;
---

<BaseLayout title={`SKF | LAB - ${name}`}>
  <div class="wrapper">
    <h1>{name}</h1>
    <p>{description}</p>
    <p>Level: {level}</p>
    <a href={`${url}/lab/`}>Start lab</a>
  </div>
</BaseLayout>

<style>
  h1,
  p,
  a {
    margin-bottom: 1rem;
  }

  a {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
  }
</style>
