---
import { getAllLabs } from "../../db/labs/getAllLabs";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Lab from "../../components/svgs/Lab.astro";
import { checkSession } from "../../utils/checkSession";

const cookie = Astro.request.headers.get("cookie");
const isLoggedin = checkSession(cookie);

const labs = await getAllLabs();
---

<BaseLayout title="SKF | ALL LABS" isLoggedin={isLoggedin}>
  <div class="wrapper">
    <h1>LABS</h1>

    <div class="filters">
      <input type="text" placeholder="Search Lab" />

      <div class="show">
        <p>Show</p>
        <select name="" id="">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <table>
      <tr
        ><th>#</th><th>Lab Name</th><th>Level</th><th>Description</th><th
          >Detail</th
        >
      </tr>
      {
        labs.map((lab) => (
          <tr>
            <td>{lab.id}</td>
            <td>{lab.name}</td>
            <td class="td-icon">
              <div class="circle">{lab.level}</div>
            </td>
            <td>{lab.description.slice(0, 64) + "..."}</td>
            <td class="td-icon">
              <a href={`/labs/${lab.id}`}>
                <div class="circle">
                  <Lab />
                </div>
              </a>
            </td>
          </tr>
        ))
      }
    </table>
  </div>
</BaseLayout>

<style>
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
  }

  .filters input {
    color: var(--text-primary);
    padding: 4px 16px;
    min-width: 160px;
    border-radius: 16px;
    background-color: var(--primary-800);
    border: 1px solid var(--text-primary);
    font-family: var(--font-decoration);
  }

  .filters .show {
    font-family: var(--font-decoration);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  table tr th {
    text-align: center;
    padding: 0.5rem;
    font-weight: 600;
    background-color: var(--primary-900);
  }

  table tr td {
    padding: 0.5rem;
  }

  tr td.td-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td.td-icon .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--primary-400);
    width: 1.5rem;
    border-radius: 32px;
  }

  table tr {
    border: none;
    outline: 0.25px solid var(--text-primary);
  }

  table tr:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }

  h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }
</style>
