---
import FlaskIcon from "../svgs/Lab.astro";
export interface Props {
  labs: {
    id: number;
    name: string;
    description: string;
    level: number;
  }[];
  certificate: {
    name: string;
    description: string;
    summary: {
      description: string;
      list: string[];
      footer: string;
    };
  };
}

const { certificate, labs } = Astro.props;
---

<div class="wrapper">
  <header>
    <img src="/imgs/skf-certificate.jpg" alt="" />
    <div class="info">
      <h3>{certificate.name}</h3>
      <p>
        {certificate.description}
      </p>
      <a href={`/labs/${labs[0].id}`} class="btn">Start now</a>
    </div>
  </header>

  <main>
    <div class="content">
      <h4>Summary</h4>
      <div class="summary">
        <p>{certificate.summary.description}</p>
        <ul>
          {certificate.summary.list.map((item) => <li>{item}</li>)}
        </ul>
        <p>{certificate.summary.footer}</p>
      </div>
    </div>
    <div class="sidebar">
      <div class="labs">
        <h4>Modules</h4>
        {
          labs.map((lab) => (
            <div class="lab">
              <FlaskIcon />
              <a href={`/labs/${lab.id}`}>{lab.name}</a>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</div>

<style>
  .wrapper {
    margin-bottom: 5rem;
  }

  header {
    display: flex;
    gap: 2rem;
    background-color: var(--primary-700);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 4rem;
  }

  header img {
    width: 400px;
    object-position: center left;
  }

  header .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1.5rem;
  }

  .info h3 {
    text-align: left;
    font-size: 1.5rem;
  }

  .btn {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-600);
    color: var(--text-primary);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
  }

  .btn:hover {
    background-color: var(--primary-500);
  }

  .btn:active {
    background-color: var(--primary-700);
  }

  main {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  main .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main h4 {
    font-size: 1.5rem;
    text-align-last: left;
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .summary ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .summary li {
    list-style: none;
  }

  .labs h4 {
    margin-bottom: 2rem;
  }

  .labs .lab {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
  }
</style>
